body{
	
	//width:960px;
	//margin:0 auto;
	background:-webkit-linear-gradient(top,rgb(40,40,40),rgb(70,70,70));
	background-repeat:no-repeat;

}
header{
	width:960px;
	height:35px;
	float:left;
	background-color:rgb(40,40,40);
}
nav{
	width:960px;
	height:30px;
	background:-moz-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	background:-webkit-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	float:left;
}
div#content{
	margin-top:65px;
	width:960px;
	background:-moz-linear-gradient(top,rgb(40,40,40),rgb(70,70,70));
	background:-webkit-linear-gradient(top,rgb(40,40,40),rgb(70,70,70));
	float:left;
}
div#wrapper{
	width:960px;
	height
	overflow:hidden;
	margin:0 auto;

}
section{
	height:300px;
	width:700px;
	margin-right:20px;
	background-color: yellow;
	float:left;
}
aside{
	width:240px;
	height:300px;
	background-color: green;
	float:left;
}
footer{
	height:30px;
	background-color: rgb(40,40,40);
	clear:both;

}