
#wrapper{
	width:100%;
	overflow:hidden;
}
#banner-outer-wrapper{
	width:100%;
	overflow:hidden;
	background-color:rgb(40,40,40);
	float:left;
}
	#banner-inner-wrapper{
		width:960px;
		margin:0 auto;

	}
		#banner{
			height:80px;
			margin:5px;
		}

#menu-outer-wrapper{
	width:100%;
	overflow:hidden;
	background:-webkit-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	background:-moz-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	float:left;
}
	#menu-inner-wrapper{
		width:960px;
		margin:0 auto;
		overflow: hidden;

	}
		#menu{
			height:35px;
			margin:5px;
		}



#content-side-outer-wrapper{
	width:100%;
	overflow:hidden;
	background:-webkit-linear-gradient(top,rgb(40,40,40),rgb(70,70,70));
	background:-moz-linear-gradient(top,rgb(40,40,40),rgb(70,70,70));
	float:left;
}
	#content-side-inner-wrapper{
		width:960px;
		margin:0 auto;
		overflow: hidden;

	}
		#content-wrapper{
			width:710px;
			margin:0 auto;
			float:left;

		}
			#content{
				min-height:500px;
				margin:5px;
			}

		#side-wrapper{
			width:250px;
			margin:0 auto;
			float:left;

		}
			#side{
				height:500px;
				margin:5px;
			}


#footer-outer-wrapper{
	width:100%;
	overflow:hidden;
	background-color:rgb(40,40,40);
	float:left;
	clear:both;
}
	#footer-inner-wrapper{
		width:960px;
		margin:0 auto;

	}
		#footer{
			height:35px;
			margin:5px;
		}

