body{
	background-color:rgb(40,40,40);
}
label{
	font-family:arial;
	font-size: 15px;
	color:#ffffff;
	margin-bottom:10px;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
	padding:3px;
	border-radius:5px;
	margin-bottom:15px;

}
input[type="submit"]{
	min-width:150px;
	padding:2px;

}
p {
	color:white;
}

#menu ul{
	text-align: center;
}
#menu li{
	//display:inline-block;
}
#menu a:link,#menu a:visited, #menu a:active{
	padding:15px 20px;
	text-decoration: none;
	float: left;
}
#menu a:hover{
	background-color:rgb(40,40,40);

}

#content #slider{
	width:600px;
	height:400px;
	box-shadow:5px 5px 10px black;
	border-radius:10px;
	margin-top:30px;
	border:10px solid rgb(30,30,30);
}

#content #slider img{
	position:absolute;
	width:inherit;
	height:inherit;
	border-radius:5px;
}

#side #form-wrapper{
	margin-top:30px;
	width:200px;
	height:395px;
	background-color:rgb(30,30,30);
	padding:15px;
	border-radius:10px;
	box-shadow:5px 5px 10px black;
}



.text-ordinary{
	font-family: arial;
	font-size: 15px;
	color: #ffffff;

}

.text-glow-small{
	font-family: arial;
	font-size: 15px;
	color: #ffffff;
	font-weight:bold;
	text-shadow:1px 1px 5px #ffffff;
	
}

.text-glow-medium{
	font-family: arial;
	font-size: 30px;
	color: #ffffff;
	font-weight:bold;
	text-shadow:2px 2px 5px #ffffff;
	margin-bottom:20px;
}
.text-glow-large{
	font-family: arial;
	font-size: 70px;
	color: #ffffff;
	font-weight:bold;
	text-shadow:3px 3px 7px #ffffff;
	margin:10px 0;
}
.pic-wrap{
	width:250px;
	height:250px;
	border:5px solid rgb(30,30,30);
	float:left;
}






